{% load staticfiles %}
{% load crispy_forms_tags %}
{% include 'base_javascript.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}OptiSched{% endblock %}</title>

    {% include 'base_css.html' %}

    <style>
      {% block style %}
      {% endblock %}
    </style>
  </head>

  <body>

    {% include "navbar.html" %}
    
    {% block date_nav_bar %}
    {% endblock %}

    <div class="container">

    	{% block main_banner %}
    	{% endblock %}

    </div> <!-- /container -->

    <div class="container">   
       
    	{% block content %}
      {% endblock %}
              
    </div> <!-- /container -->
  </body>
</html>

