{% extends 'base.html' %}
 <!-- needs to be below extends 
{% load crispy_forms_tags %}-->

 <!-- Browser tab's title -->
{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block main_banner %}
{% url 'OptiSched:about' as about_url %}

 <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>OptiSched</h1>
        <p>Optimizing your schedule. Optimizing you.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ about_url }}" role="button">Want to know more...? &raquo;</a>
        </p>
      </div>
{% endblock %}

