<!--
<div class="menu-container">
    <div class="button-container">
       <a href="#/Action1" class="button">View Weeks</a>
       <a href="ViewDays" class="button">View Days</a>
       <a href="#/Action2" class="button">View Day for Employee</a>
       <a href="#/Action3" class="button">Make Week</a>
       <a href="#/Action4" class="button">Make Day</a>
       <a href="#/Action5" class="button">Reports</a>
    </div>
</div>
-->
<form action="#" method="get">
 <input type="text" value="8" name="mytextbox" size="1"/>
 <input type="submit" class="btn" value="Click" name="mybtn">
</form>
