{% extends 'base.html' %}

{% block head_title %}Employee Week | {{ block.super }} {% endblock %}

{% block content %}

<style>

.progress-bar-trans {
	background-color: transparent !important;
	/*color: gray;*/
}
</style>

<div class="row">
    <h2 style="border-bottom: 1px solid #BFBCBC;padding-bottom: 5px;">
        View Shifts for {{ employee.name_normal_id }} from {{ week_start_date }} to {{ week_end_date }}
    </h2>
</div> 

  {% if shifts %} 

  <table class="table table-striped">
		    <thead>
		      <!-- TODO add a check box somewher to see if we want to suppress time
		      		and check condition before displaying -->
		      <tr>
		        <th>Date</th>
		        <th>Position</th>
		        <th>Shift</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		     {% for shift in shifts %}
		      <!-- TODO add a check box somewher to see if we want to suppress time
		      		and check condition before displaying -->
		      <tr>
		        <td> {{ shift.display_shift_details }} </td>
		        <td>{{ shift.shift_employee_type }}</td>
		        <td>{{ shift.start_time }} - {{ shift.end_time }}</td>
		        <td>
		        	<a href="{{ shift.get_employee_week_url }}">
		        		<span class="glyphicon glyphicon-search"></span>
		        	</a>
		        	<span class="glyphicon glyphicon-user"></span>
		        	<span class="glyphicon glyphicon-trash"></span>
		       	<td>
		      </tr>
		      <!-- TODO add a check box somewher to see if we want to suppress progress bars
		      		and check condition before displaying -->
		      <tr> 
		      	<td colspan="4">
		      	<div class="progress">
			  		<div class="progress-bar progress-bar-trans" role="progressbar" style="width:{{ shift.before_working_day_pc }}%">
			    		Not working
			  		</div>
			 		<div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ shift.working_day_pc }}%">
			    		Working 
			  		</div>
				</div>
			</td>

		      </tr>
		     {% endfor %}
		    </tbody>
		  </table>          
{% else %}
	<p> {{ Error }} </p>
{% endif %}
{% endblock %}

