{% extends 'base_schedule.html' %}

{% block head_title %}Manager Day | {{ block.super }} {% endblock %}

{% block content %}

<style>

.progress-bar-trans {
	background-color: transparent !important;
}
</style>

<h2>{{ work_day_display }}</h2>
  {% if shifts %} 

  <table class="table table-striped">
		    <thead>
		      <!-- TODO add a check box somewher to see if we want to suppress time
		      		and check condition before displaying -->
		      <tr>
		        <th>Employee</th>
		        <th>Position</th>
		        <th>Shift</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		     {% for shift in shifts %}
		      <!-- TODO add a check box somewher to see if we want to suppress time
		      		and check condition before displaying -->
		      <tr>
		        <td> {{ shift.employee }} (ID:{{ shift.employee.id }}) </td>
		        <td>{{ shift.shift_employee_type }}</td>
		        <td>{{ shift.start_time }} - {{ shift.end_time }}</td>
		        <td>
		        	<a href="{{ shift.get_employee_week_url }}">
		        		<span class="glyphicon glyphicon-align-center"></span>
		        	</a>
		        	<span class="glyphicon glyphicon-user"></span>
		        	<span class="glyphicon glyphicon-trash"></span>
		       	<td>
		      </tr>
		      <!-- TODO add a check box somewher to see if we want to suppress progress bars
		      		and check condition before displaying -->
		      <tr> 
		      	<td colspan="4">
		      	<div class="progress">
			  		<div class="progress-bar progress-bar-trans" role="progressbar" style="width:{{ shift.before_working_day_pc }}%">
			    		Not working
			  		</div>
			 		<div class="progress-bar progress-bar-success " role="progressbar" style="width:{{ shift.working_day_pc }}%">
			    		Working 
			  		</div>
				</div>
			</td>

		      </tr>
		     {% endfor %}
		    </tbody>
		  </table> 

	{% if date_errors %}
		<ul>
		{% for error in date_errors %}
			<li> {{ error.error_display }} </li>
		{% endfor %}
		</ul>
	{% endif %}       
	 
{% else %}
	<p> {{ Error }} </p>
{% endif %}
{% endblock %}

